<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.automation.FirstTest"/>
      <class name="com.automation.ThirdTest"/>
      <class name="com.automation.SecondTest"/>
      <class name="com.automation.FourthTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
